<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD//EN"-->
<!--        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!--<hibernate-configuration>-->
<!--    <session-factory>-->
<!--        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>-->
<!--        <property name="connection.driver_class">org.postgresql.Driver</property>-->
<!--        <property name="hibernate.connection.username">postgres</property>-->
<!--        <property name="connection.password">e0VdC~0wO@JHfHZ$CS56RbY1o|DtKfTqpiiRL~O#vCKaCdwfX207}</property>-->
<!--        <property name="hibernate.connection.characterEncoding">utf8</property>-->
<!--        <property name="hibernate.show_sql">true</property>-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>-->
<!--        <property name="hibernate.format_sql">true</property>-->
<!--        <property name="hibernate.current_session_context_class">thread</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
<!--        <property name="default_schema">csc</property>-->
<!--        <mapping class="entities.City"/>-->
<!--        <mapping class="entities.CarServiceCenter"/>-->
<!--        <mapping class="entities.Company"/>-->
<!--        <mapping class="entities.Customer"/>-->
<!--        <mapping class="entities.Repair"/>-->
<!--        <mapping class="entities.Employee"/>-->
<!--        <mapping class="entities.Individual"/>-->
<!--        <mapping class="app.Main"/>-->
<!--        <mapping class="utils.HibernateUtil"/>-->
<!--    </session-factory>-->
<!--</hibernate-configuration>-->